
@font-face {
	font-family: 'AdelleSans-Bold';
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot');
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Bold.woff') format('woff'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'AdelleSans-Light';
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Light.eot');
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Light.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Light.woff') format('woff'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AdelleSans-Regular';
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot');
	src: url('/fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Regular.woff') format('woff'),
			 url('/fonts/AdelleSansWeb/AdelleSansBasic_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'QZIcons';
	src: url('/fonts/qz-icons.eot?-b9yf6n1'),
			 url('/fonts/qz-icons.eot?#iefix-b9yf6n1') format('embedded-opentype'),
			 url('/fonts/qz-icons.woff?-b9yf6n1') format('woff'),
			 url('/fonts/qz-icons.ttf?-b9yf6n1') format('truetype'),
			 url('/fonts/qz-icons.svg?-b9yf6n1#qz-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


// Fonts
$qz-sans = 'AdelleSans-Regular','Helvetica Neue', 'HelveticaNeue', Helvetica, Arial,sans-serif
$qz-sans-light = 'AdelleSans-Light', 'AdelleSans-Regular','Helvetica Neue Light', 'HelveticaNeue-Light', Helvetica, Arial,sans-serif
$qz-sans-bold = 'AdelleSans-Bold', Helvetica, Arial, sans-serif
$qz-serif = "PT Serif",Georgia,serif
$qz-font-body = $qz-serif
