p Amid the exaggerations, half-truths, and other distractions of Donald Trump’s presidential campaign, the economy was a signature issue. As president, his pledge to “Make America Great Again” will be judged largely along economic lines, whether it’s bringing back factory jobs, boosting wages, or renegotiating trade deals.  

p To this end, many of Trump’s promises appear implausible. Fortunately, we don’t have to rely on guesswork or partisan punditry to evaluate his progress; we’ve got reliable data to gauge Trump’s success (at least <a href="https://fivethirtyeight.com/features/how-trumps-white-house-could-mess-with-government-data/">for the moment</a>). 

p The charts below provide an at-a-glance dashboard for measuring the economy under president Trump. We have collected 10 indicators that reflect his main campaign promises, with data from Bush and Obama’s presidencies to provide context. We’ll update the data frequently as Trump puts his plans into action.

div#charts
