div.right-column.clearfix
    p  
        em The data in this story were updated on Thursday, June 1, 2017. Most of the numbers are released after a delay, and some do not yet cover the period President Trump has been in office.

    p Amid the exaggerations, half-truths, and other distractions of Donald Trump’s US presidential campaign, the economy was a signature issue. As president, his pledge to “Make America Great Again” will be judged largely along economic lines, whether it’s bringing back factory jobs, boosting wages, or renegotiating trade deals.  

    p Many of Trump’s promises appear implausible. But we don’t have to rely on guesswork or partisan punditry to evaluate his progress; we’ve got reliable data to gauge Trump’s success. 

    p The charts below provide an at-a-glance dashboard for measuring the economy under president Trump. We have collected 10 indicators that reflect his main campaign promises, with data from the George W. Bush and Barack Obama administrations to provide context. We’ll update the data as Trump puts his plans into action.

div#charts.clearfix
