p Donald Trump ran a campaign littered with half-truths and vitriol. At times it was difficult to tell which issues he raised were legitimate concerns of his and which were merely distractions. However, on balance, it is the economy that was Trump’s signature issue. He promised to restore prosperity to coal miners, line workers, inner city youth, and the rest of the nation’s downtrodden.

p Many of Trump’s economic promises appear implausible. Fortunately we don’t have to rely on guesswork or punditry to evaluate his progress. In the charts below we’ve gathered together data to measure the economy under Trump. We’ve chosen indicators that reflect his campaign promises and we’ve used data for Bush and Obama’s two-term presidencies to provide context. We’ll update these charts frequently after Trump takes office.

div#charts
