@import 'qz/chart-elements'

.item-body h2
	margin-bottom 0

.president
	&.bush
		fill #ecc
		opacity 0.5

	&.obama
		fill #cce
		opacity 0.5

	&.trump
		fill #ecc
		opacity 0.5

.label-bubble
	fill $qz-background-gray

.label
	font-family $qz-sans-light
	fill $qz-chart-axis-text
	shape-rendering crispEdges
	// alignment-baseline middle

.lines path
	stroke: $qz-purp-4
	stroke-width: 3px
	fill: none
