@import 'qz/chart-elements'


.president
	&.bush
		fill #c00
		opacity 0.5

	&.obama
		fill #00c
		opacity 0.5

	&.trump
		fill #c00
		opacity 0.5

.lines path
	stroke: $qz-gray-1
	stroke-width: 3px
	fill: none
